@model IEnumerable<VkNet.Model.User>

@{
    ViewData["Title"] = "VKFriend";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>5 рандомных друзей</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FirstName @item.LastName
                </td>
            </tr>
        }
    </tbody>
</table>
